body {margin: 0;
font-family: 'Slabo 27px', serif;
background:url("../../img/body.jpg");
background-size: cover;
color:#ffffff;
}

/*Styling Nav Bar*/
.header-menu {
	background:url("../../img/header.jpg");
    background-size: cover;
	width : 100%;
    background-color: #414f5c;
    position: fixed;
    top: 0;
    color: #ffffff;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover{
	color: #dedef2;
}

h2{
	font-size: 30px;
	font-weight: bold;
	margin-left: 20px;
}
h2 a {
	color: #ffffff;
	text-decoration: none;
	margin-right: 40px;
	float: right;
	font-size: 14px;
}

img{
	position: relative;
    display: block;
    width: 220px;
    height: 220px;
    z-index: -1;
    margin-bottom : 10px;
    margin-top :130px;
}

.acting{
	width : 420px;
	height : 220px;
}
/*Styling end to end unit*/
.herounit {
	/*margin-top: 115px;*/
	height : 500px;
	padding :14px 16px;
	margin :0px;
	text-align: center;
	background:url("../../img/star.png");
    background-size: cover;
}

.herounit span {
	font-size: 18px;
	margin-left: 20px;
}

.herounit h3 {
	font-size: 18px;
	margin-left: 20px;

}

/*Styling footer*/
.footer-social {
	background:url("../../img/header.jpg");
    background-size: cover;
	padding: 8px; 
	background-color: #414f5c;
	text-align: left;
	font-size: 18px;
	color:#ffffff;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

footer a {
	color : #ffffff;
}

section {
	margin :0px 0px 5px 0px;
	}

.grid_6 {
	margin :0px 5px 0px 0px;
}